:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-light: #a18268;
  --color-brand-line: #cfcfbc;
  --color-brand-normal:#73835A;
}
$bp-mobile:480px;
$bp-tablet:768px;
$bp-dekstop:1280px;
