.chefs-section {
  &__title {
    position: relative;
    text-align: center;
    margin: 0 auto 80px;
  }
  &__list {
    display: flex;
    gap: 40px 30px;
    flex-wrap: wrap;
  }
  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  &__title::before,
  &__title::after {
    position: absolute;
    bottom: 24px;
    content: "";
    width: 352px;
    border: 2px solid var(--color-brand-line);
  }
  &__title::before {
    left: 0;
  }
  &__title::after {
    right: 0;
  }
}
