.formats-section {
  &__conteiner {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  &__title {
    margin: 0 auto 80px;
    max-width: 310px;
    text-align: center;
  }
  &__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  &__item {
    flex-basis: calc((100% - 40px) / 3);
  }
}
