.input {
  margin-bottom: 16px;
  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 24px;
  }
  &__control {
    width: 100%;
    line-height: 1.17;
    padding: 16px 42px;
    border: 1px solid var(--color-light);
    border-radius: 8px;
    background-color: transparent;
    color: var(--color-light);
    @media screen and (max-width: $bp-mobile) {
      padding: 8px 24px;
    }
    &::placeholder {
      left: 42px;
      top: 16px;
      font-size: 18px;
      line-height: 1.17;
      color: var(--color-light);
      @media screen and (max-width: $bp-tablet) {
        font-size: 14px;
      }
    }
    &:focus {
      border-color: var(--color-brand-light);
      color: var(--color-primary-dark);
      outline: none;
    }
  }
}
