.input {
  margin-bottom: 24px;
  &__control {
    width: 100%;
    line-height: 1.17;
    padding: 16px 42px;
    border: 1px solid var(--color-light);
    border-radius: 8px;
    background-color: transparent;
    color: var(--color-light);
    &::placeholder {
      left: 42px;
      top: 16px;
      font-size: 16px;
      line-height: 1.17;
      color: var(--color-light);
    }
    &:focus {
      border-color: var(--color-brand-light);
      color: var(--color-primary-dark);
      outline: none;
    }
  }
}

