.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-light);
  transform: translateX(100%);
  transition: transform 0.2s;
  z-index: 2;
  &.is-open {
    transform: translateX(0);
  }
  &__btn-close {
    position: absolute;
    top: 16px;
    right: 24px;
    background: transparent;
    border: none;
    fill: var(--color-primary-dark);
    cursor: pointer;
  }
  &::before,
  &::after {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    bottom: 0;
  }
  &::before {
    width: 106px;
    height: 224px;
    top: 409px;
    right: 2px;
    background-image: url(../images/modal-bread.png);
  }
  &::after {
    width: 138px;
    height: 138px;
    bottom: 10px;
    top: 492px;
    right: -15px;
    background-image: url(../images/modal-dop-bread.png);
  }
}
.mobile__nav {
  position: absolute;
  top: 16px;
  left: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mobile__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mobile__list .link {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primary-dark);
  transition: color 0.2s;
}
.mobile__list .link:hover {
  color: var(--color-brand-light);
}
