.section {
  padding: 20px 20px;
  @media screen and (min-width: $bp-dekstop) {
    padding: 48px 0;
  }
  &__title {
    color: var(--color-primary-dark);
    font-size: 32px;
    font-weight: 900;
    line-height: 1.5;
    @media screen and (min-width: $bp-dekstop) {
      font-size: 64px;
      line-height: 1.3;
    }
  }
}
